$intro: var(--intro);
$intro_ball_color: var(--intro-ball-color);
$intro_text_first: var(--intro-text-color-first);
$intro_text_second: var(--intro-text-color-second);
$intro_card: var(--intro-card);

$location: var(--location);
$location_border: var(--location-border);
$location_text_primary: var(--location-text-primary);
$location_text_secondary: var(--location-text-secondary);
$map-stop-first: var(--map-stop-color-first);
$map-stop-second: var(--map-stop-color-second);
$map-text-svg: var(--map-text-svg);
$map-text: var(--map-text);
$map-mandalay: var(--map-mandalay);

$journey-background: var(--journey-background);
$journey-header-text: var(--journey-header-text);
$journey-card-text: var(--journey-card-text);
$journey-burble-text: var(--journey-burble-text);
$journey-card: var(--journey-card);

$profession-bg: var(--profession-bg);
$profession-card: var(--profession-card);
$profession-card-text: var(--profession-card-text);
$profession-header: var(--profession-header);
