$intro: var(--intro);
$intro_ball_color: var(--intro-ball-color);
$intro_text_first: var(--intro-text-color-first);
$intro_text_second: var(--intro-text-color-second);
$intro_card: var(--intro-card);
$location: var(--location);
$location_border: var(--location-border);
$location_text_primary: var(--lcation-text-primary);
$location_text_secondary: var(--lcation-text-secondary);
