@mixin ball($color, $width, $height) {
  position: absolute;
  width: $width;
  height: $height;
  border-radius: 50%;
  background: $color;
}
@mixin blur($color) {
  background-color: #{$color};
  backdrop-filter: blur(29px);
}

@mixin tablet {
  @media screen and (min-width: 37.5em) {
    @content;
  }
}

@mixin laptop {
  @media screen and (min-width: 64.063em) {
    @content;
  }
}
@mixin desktop {
  @media screen and (min-width: 80.063em) {
    @content;
  }
}
