@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
* body {
  margin: 0;
}
* {
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}

html.dark {
  /** Intro Color **/
  --intro: #3f3c3c;
  --intro-ball-color: linear-gradient(
    43.23deg,
    rgba(255, 58, 235, 0.94) 16.39%,
    #ff1818 87.96%
  );
  --intro-text-color-first: #dddbdb;
  --intro-text-color-second: #ffffff;
  --intro-card: rgba(255, 255, 255, 0.15);
  /** Location **/
  --location: #0f1030;
  --location-border: #b0b2ff;
  --location-text-primary: #ffffff;
  --location-text-secondary: #cacaca;
  --map-stop-color-first: #daffd7;
  --map-stop-color-second: #12a72a;
  --map-text-svg: #b2b4ef;
  --map-text: #ffffff;
  --map-mandalay: #ff547d;
  /** My Journey Color **/
  --journey-background: #2d2f37;
  --journey-header-text: hsla(0, 0%, 100%, 1);
  --journey-card-text: #ffffff;
  --journey-burble-text: #ffffff;
  --journey-card: hsla(0, 0%, 100%, 0.1);
  /** Profession **/
  --profession-bg: #0c1426;
  --profession-card: #182547;
  --profession-card-text: #ffffff;
  --profession-header: #ffffff;
  /** Project **/
  --project-color: #3b2f39;
  --project-header: #ffffff;
  --project-card-color: rgba(82, 66, 80, 0.5);
  --project-language: #645162;
  --project-text: #ffffff;
  /**  Contact Area **/
  --contact-bg: hsla(0, 2%, 32%, 1);
  --contact-card-form: rgba(36, 32, 32, 0.2);
  --contact-card-text-header: hsla(0, 0%, 100%, 1);
  --contact-card-text-placeholder: hsla(0, 1%, 74%, 1);
}
* {
  transition-property: background;
  transition-duration: 500ms;
}
html {
  /** Intro Color **/
  --intro: #f1d8de;
  --intro-ball-color: linear-gradient(
    43.23deg,
    #eeafe9 42.16%,
    #fc1f80 114.34%
  );
  --intro-text-color-first: #595758;
  --intro-text-color-second: #595758;
  --intro-card: rgba(34, 34, 34, 0.15);
  /** Location **/
  --location: #ffc3d1;
  --location-border: #fd5d83;
  --location-text-primary: #594348;
  --location-text-secondary: #703b55;
  --map-stop-color-first: #daffd7;
  --map-stop-color-second: #1ad638;
  --map-text-svg: #fe4570;
  --map-text: #494949;
  --map-mandalay: #4200ff;
  /** Journey **/
  --journey-background: hsla(346, 100%, 75%, 1);
  --journey-header-text: #ffffff;
  --journey-card-text: #ffffff;
  --journey-burble-text: #ffffff;
  --journey-card: hsla(330, 1%, 35%, 0.1);
  /** Profession **/
  --profession-bg: #fc9ab1;
  --profession-card: #cf7389;
  --profession-card-text: #ffeef2;
  --profession-header: #182547;
  /** Project **/
  --project-color: #5c86f3;
  --project-header: hsla(346, 100%, 97%, 1);
  --project-card-color: hsla(224, 93%, 76%, 0.5);
  --project-language: #3f75ff;
  --project-text: #645162;
  /**  Contact Area **/
  --contact-bg: hsla(223, 90%, 72%, 1);
  --contact-card-form: hsla(0, 6%, 13%, 0.2);
  --contact-card-text-header: hsla(346, 100%, 97%, 1);
  --contact-card-text-placeholder: hsla(0, 1%, 74%, 1);
}
