@import 'color';
.light_bulb {
  width: 0.2em;
  margin-left: 2.5em;

  cursor: pointer;
  background: linear-gradient(
    43.23deg,
    rgba(255, 58, 235, 0.94) 16.39%,
    #ff1818 87.96%
  );
  position: relative;
  &::after {
    content: '';
    width: 3em;
    height: 3em;
    border-radius: 50%;
    background: linear-gradient(
      43.23deg,
      rgba(255, 58, 235, 0.94) 16.39%,
      #ff1818 87.96%
    );

    position: absolute;
    bottom: 0;
    left: 0;
    transform-origin: center;
    transform: translateX(-45%) translateY(50%);
  }
}

.small {
  height: 6em;
  margin-left: 1.5em;
}
.medium {
  height: 8em;
}
.large {
  height: 10em;
}
