@use 'color' as *;
.light_bulb {
  width: 0.1em;
  margin-left: 2em;

  cursor: pointer;
  background: $intro_ball_color;
  position: relative;
  &::after {
    content: '';
    width: 2.5em;
    height: 2.5em;
    border-radius: 50%;
    background: $intro_ball_color;
    position: absolute;
    bottom: 0;
    left: 0;
    transform-origin: center;
    transform: translateX(-45%) translateY(50%);
  }
}

.small {
  height: 5em;
  margin-left: 1.5em;
}
.medium {
  height: 7em;
}
.large {
  height: 9em;
}
