@use 'color' as *;
@use 'font' as *;
@use 'util' as *;
.profession {
  width: 100%;
  background: $profession-bg;
  text-align: center;
  padding: 2em 2em;
  & > h1 {
    @include SansPro;
    color: $profession-header;
    font-size: 2rem;
  }
  & > div {
    margin-top: 2em;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    @include tablet {
      flex-flow: row nowrap;
      justify-content: space-between;
    }
  }
}
.profession__card {
  width: 100%;
  margin: 1em 0em;
  background-color: $profession-card;
  color: $profession-card-text;
  @include SansPro;
  padding: 1em 1em 2.5em 1em;
  border-radius: 1em;
  @include tablet {
    width: 12em;
  }
  & > svg {
    width: 6em;
    height: 6em;
  }
  & > h1 {
    font-size: 1.25rem;
  }
  & > h2 {
    margin-top: 0.5em;
    font-size: 0.8rem;
    word-wrap: break-word;
  }
}
