@use 'color' as *;
@use 'font' as *;
@use 'util' as *;
.profession {
  background: $profession-bg;
  box-sizing: border-box;
  padding: 5em 2em;
  & > h1 {
    @include SansPro;
    text-align: center;
    color: $profession-header;
    font-size: 2rem;
  }
  & > div {
    text-align: center;
    margin-top: 2em;
    box-sizing: border-box;

    display: grid;
    grid-template-columns: minmax(0, 1fr);
    grid-template-rows: 1fr 1fr 1fr;
    column-gap: 4em;

    justify-content: center;
    @include tablet {
      grid-template-rows: 1fr;
      grid-template-columns: repeat(3, minmax(0, 20em));
    }
  }
}
.profession__card {
  margin: 1em 0em;
  background-color: $profession-card;
  color: $profession-card-text;
  @include SansPro;
  box-sizing: border-box;
  border-radius: 1em;
  padding: 1em 1em;
  & > svg {
    width: 6em;
    height: 6em;
  }
  & > h1 {
    font-size: 1.25rem;
    word-wrap: break-word;
  }
  & > h2 {
    margin-top: 0.5em;
    font-size: 0.8rem;
    word-wrap: break-word;
  }
}
